.align{
    padding: 100px 500px;
}

.topbox{
    height: 71px;
    width:350px;
    flex:auto;
    background-color:black;
    color:white;
}

.numbers{
    font: 'Poppins', sans-serif;
    height: 72px;
    width:50px;

    font-size: 12px;
    
    font-weight: 600;
    
    color: white;
    
    background-color: grey;
    
    Padding: 22px 41px;
    
    border-radius: 4px;
    

}
.equals{
    font: 'Poppins', sans-serif;
    height: 72px;
    width:50px;

    font-size: 12px;
    
    font-weight: 600;
    
    color: black;
    
    background-color:white;
    
    Padding: 22px 41px;
    
    border-radius: 4px;

}
.equalto{
    font: 'Poppins', sans-serif;
    height: 72px;
    width:50px;

    font-size: 12px;
    
    font-weight: 600;
    
    color: black;
    
    background-color:white;
    
    Padding: 22px 41px;
    
    border-radius: 4px;

}
.border{
    width:360px;
    height:458px;
    border: black 1px;
    border-radius: 4px;  
    border-style: solid;
}



.operators{
    font: 'Poppins', sans-serif;
    height: 72px;
    width:50px;

font-size: 12px;

font-weight: 600;

color: white;

background-color:salmon;

Padding: 22px 41px;

border-radius: 4px;

}
.ac{
    font: 'Poppins', sans-serif;
    height:72px;
    width:50px;

    font-size: 12px;
    
    font-weight: 600;
    
    color:black;
    
    background-color:white;
    
    Padding: 26px 40px;
    
    border-radius: 4px;
    

}