*{
    font-family: Montserrat, Source Sans Pro;
    margin:0px;
}

.align{
    padding: 50px;
}


#imgbox{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    font-weight: 600;

}
#imgbox img{
    height: inherit;
    width:inherit;
} 
#clock{
    color:white;
    text-align: center;
    position: absolute;
    top: 243px;
    left: 625px;
    
}


div{

  

    display:flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;

}

button{
    padding:10px;
    margin:5px;
    height: 60x;
    width:60px;
    
       
}
.button1{
   background-color:#ca3d22;
   color:white;

}
.button2{
    background-color:#23211f;
    color:white;
 
 }
 .button3{
    background-color: #565681;
    color:white;
 }
 .button4{
    background-color: #e9c7be;
    color:white;
 }
 .button5{
    background-color: #8a5362;
    color:white;
 }
